# Archivo de ejemplo con las variables de entorno para iniciar el proyecto SmartGym - API.
# 1. Cree un archivo llamado '.env' en la raíz del proyecto.
# 2. Copie el contenido de este archivo '.env.example' dentro del archivo '.env' creado.
# 3. Reemplace los valores de las variables para que coincidan con su entorno local.
# 4. El archivo '.env' no se sube a Git. Ya este nombre viene incluido en el '.gitignore' adjunto.
#
# NOTA: Si nombra de otra forma el archivo '.env', agregue el nombre asignado al archivo '.gitignore'
#       en la raíz del proyecto por motivos de seguridad.

# --- Configuración de PostgreSQL --- #

# DATABASE_USER -> Nombre de usuario de base de datos. Por defecto, 'postgres'.
# DATABASE_PASSWORD -> Contraseña definida al instalar PostgreSQL. Reemplazar por la suya.
# DATABASE_NAME_DB -> Nombre de la base de datos local a conectar. Por defecto, 'smartgym'.
# DATABASE_HOST -> Host para conexión con base de datos. Para conexiones locales, use 
#                  'localhost' (valor por defecto); para conexión con Docker, use 'db'.
# DATABASE_PORT -> Puerto para conexión con la base de datos. Por defecto, '5432'.
# DATABASE_URL -> URL de conexión final a la base de datos. Toma todos los valores definidos
#                 en las variables anteriores.
# 
# Formato de URL: postgresql://[usuario]:[contraseña]@[host]:[puerto]/[nombre_de_base_de_datos]
#
# NOTA: Asegurese de crear previamente una base de datos local llamada "smartgym" en PostgreSQL.
DATABASE_USER = "postgres"
DATABASE_PASSWORD = "su_clave_de_postgresql"
DATABASE_NAME_DB = "smartgym"
DATABASE_HOST = "localhost"
DATABASE_PORT = "5432"
DATABASE_URL = "postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME_DB}"

# --- Configuración de Seguridad --- #

# SECRET_KEY -> Clave API secreta para firmar tokens JWT. 
#               Si tiene OpenSSL instalado, genere una con el comando: openssl rand -hex 32
#               Si solo cuenta con Python, utilice en la terminal: python -c 'import secrets; print(secrets.token_hex(32))'
# ALGORITHM -> Algoritmo para gestión de firmas de tokens. Por defecto: HS256.
# ACCESS_TOKEN_DURATION -> Duración en minutos de los tokens de acceso. Puede cambiarse.
SECRET_KEY = "su_clave_api_secreta"
ALGORITHM = "HS256"
ACCESS_TOKEN_DURATION = 30
