# URL para conexión con la base de datos.
# Valores por defecto: 
# - puerto: 5432
# - host: localhost (para conexiones locales, IP: 127.0.0.1)
DATABASE_URL = "postgresql://usuario:contraseña@host:puerto/nombre_de_base_de_datos"

# Clave API secreta. Puede generarse una con el comando: openssl rand -hex 32
# Advertencia: No usar la de este ejemplo.
SECRET_KEY = "09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"

# Algoritmo para firmas de tokens. Por defecto: "HS256".
ALGORITHM = "su_algoritmo_de_firma"

# Tiempo de duracion del token en minutos.
ACCESS_TOKEN_DURATION = 5
